.wrapper {
  width: 100%;

  padding: 24px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;

  border-radius: 40px;
  background-color: #1c1c21;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;

  grid-area: footer;
}

.suptitle {
  /* @include font-Iceland; */
  font-size: 28px;
  line-height: 0.85;
  font-weight: 400;
  color: #f2f2f3;
  text-decoration: none;

  grid-area: orderId;
}

.timing {
  font-size: 16px;
  white-space: nowrap;
  justify-self: flex-end;
  grid-area: timing;
}

.title {
  display: flex;
  flex-direction: column;
  color: #f2f2f3;
  &_done {
    color: #00cccc;
  }

  grid-area: title;
}

.title p {
  margin: 0;
}
