@font-face {
  font-family: 'iceland';
  src: url("../src/fonts/Iceland-Regular.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono-Regular';
  src: url("../src/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: 'JetBrains Mono-Bold';
  src: url("../src/fonts/JetBrainsMono-Bold.woff2") format("woff");
}

main {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
}