.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  color: rgb(242, 242, 243);
  white-space: nowrap;
}

.small {
  /* @include font-digits-small;

	svg {
		width: 24px;
		height: 24px;
	} */
}

.medium {
  /* @include font-digits-medium;

	svg {
		width: 36px;
		height: 36px;
	} */
}
